<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <style>
        input[type="text"], input[type="password"], textarea {
            font-size: large !important;
        }

        .one-line {
            text-overflow: ellipsis;
            overflow: hidden;
            -ms-line-clamp: 1;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            box-orient: vertical;
        }

        .card {
            border-radius: 1rem;
        }

        .btn {
            border-radius: 1rem;
        }

        .menu-button {
            cursor: pointer;
        }

        .nav-wrapper {
            padding-left: 10px;
        }
    </style>
    <% if (theme === 'dark') { %>
        <%- include('dark_theme.ejs') %>
    <% } else if (theme === 'light') { %>
        <%- include('light_theme.ejs') %>
    <% } else if (theme === 'red') { %>
        <%- include('red_theme.ejs') %>
    <% } else if (theme === 'blue') { %>
        <%- include('blue_theme.ejs') %>
    <% } %>
    <title><%= title %></title>
    <% if (theme === 'light' || theme === 'red') { %>
        <script>
            window.onload = function () {
                const labels = document.querySelectorAll('label')
                for (let item of labels) {
                    item.style.color = 'black'
                }
            }
        </script>
    <% } else { %>
        <script>
            window.onload = function () {
                const labels = document.querySelectorAll('label')
                for (let item of labels) {
                    item.style.color = '#e2e2e2'
                }
            }
        </script>

    <% } %>
</head>
<body>
