<%- include('blocks/head.ejs', {title: 'Ваши записи'}) %>
<style>
    .menu-button {
        cursor: pointer;
    }

    .nav-wrapper {
        padding-left: 10px;
    }
</style>
<div class="row">
    <div class="col s1 left" style="padding-top: 9px">
        <a data-activates="menu" class="menu-button"><i class="material-icons small">settings</i></a>
    </div>
    <div class="col s10 center">
        <h5>
            Ваши записи
        </h5>
    </div>
    <div class="col s1"></div>
</div>
<ul class="side-nav" id="menu">
    <li>
        <div class="container">
            <h5>
                Тема:
            </h5>
            <form id="theme_form">
                <div>
                    <input type="radio" id="light_theme" name="theme" value="light"
                    <% if (theme === 'light') { %>
                           checked
                            <% } %>
                    >
                    <label for="light_theme">Стандартная светлая</label>
                </div>
                <div>
                    <input type="radio" id="dark_theme" name="theme" value="dark"
                    <% if (theme === 'dark') { %>
                           checked
                            <% } %>
                    >
                    <label for="dark_theme">Стандартная тёмная</label>
                </div>
                <div>
                    <input type="radio" id="red_theme" name="theme" value="red"
                    <% if (theme === 'red') { %>
                           checked
                            <% } %>
                    >
                    <label for="red_theme">Красная</label>
                </div>
                <div>
                    <input type="radio" id="blue_theme" name="theme" value="blue"
                    <% if (theme === 'blue') { %>
                           checked
                            <% } %>
                    >
                    <label for="blue_theme">Синяя</label>
                </div>
                <div>
                    <input type="radio" id="purple_theme" name="theme" value="purple"
                    <% if (theme === 'purple') { %>
                           checked
                            <% } %>
                    >
                    <label for="purple_theme">Фиолетовая</label>
                </div>
            </form>
        </div>
    </li>
</ul>
<div class="center" style="padding-left: 1rem; padding-right: 1rem">
    <% if (are_notes === true) { %>
        <div class="row">
            <% notes.forEach((note) => { %>
                <div class="col s12 m6 l4">
                    <div class="card <% if (theme === 'light') { %>hoverable<% } %>">
                        <div class="card-content">
                    <span class="card-title">
                        <p class="one-line">
                            <%= note.heading %>
                        </p>
                    </span>
                            <p class="one-line">
                                <%= note.text %>
                            </p>
                            <div class="card-action" style="
                            padding-bottom: 0;
                            display: flex;
                            flex-direction: column;
">
                                <a style="cursor: pointer;
                                        display: inline;
                                <% if (theme === 'red') { %>
                                    color: black;
                                <% } %>
                                        " class="read">
                                    <i class="material-icons tiny">book</i>
                                    Читать
                                    <input type="hidden" value="<%= note.id %>">
                                </a>
                                <a style="cursor: pointer;
                                        display: inline;
                                <% if (theme === 'red') { %>
                                    color: black;
                                <% } %>" class="change">
                                    <i class="material-icons tiny">edit</i>
                                    Изменить
                                    <input type="hidden" value="<%= note.id %>">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <h4 id="no-notes">У вас ещё нет записей</h4>
    <% } %>
    <div class="row">
        <div class="col s12 m6 l6">
            <a class="waves-effect waves-light btn" id="new_note_button">
                <i class="material-icons left">add</i>
                Создать запись
            </a>
        </div>
        <div class="col s12 m6 l6">
            <div class="hide-on-med-and-up">
                <br>
            </div>
            <a id="sync-button" class="btn waves-effect waves-light">
                <i class="material-icons left">cloud</i>
                Синхронизировать
            </a>
        </div>
    </div>
</div>
<script>
    let event = new Event('init-for-profile-page')
    window.dispatchEvent(event)
    $(".menu-button").sideNav();
    const labels = document.querySelectorAll('label')
    for (let item of labels) {
        item.style.color = 'black'
    }
</script>
<%- include('blocks/footer.ejs') %>
